DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="run: node -e \"console.log(require('crypto').randomBytes(32).toString('base64'))\""
ADMIN_EMAIL="admin@dermashop.lb"
ADMIN_PASSWORD="Mousti+2002"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
NEXT_PUBLIC_WHATSAPP_NUMBER="9613448482"
NEXT_PUBLIC_WISH_ACCOUNT="03448482"